@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

@font-face {
    font-family: "handwritten";
    src: url(handwritten.otf);
  }

body {
    padding: 0;
    margin: 0;
    background-size: 2.5rem 2.5rem;
    background-image:
    -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.27) 50%,transparent 50%),
    -webkit-linear-gradient(rgba(255, 255, 255, 0.2) 50%,transparent 50%);
    background-color:#6acdf4;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*@keyframes changingBg {
    0% {background-color: #78d1f7;}
    50% {background-color: #63b6fa;}
    100% {background-color: #59301b;}
}*/

div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

span {
    color:#f54a88;
}

.wm {
    z-index: 1200;
    font-family: "handwritten";
    font-size: large;
    position: absolute;
    color: rgb(34, 121, 168);
    transform: translate(25vh, 90vh);
}

/*package page*/
.guide {
    z-index: 999;
    position: absolute;
    transform: translate(0px, -290px);
    animation: appearIn 1s ease-out;
}

@keyframes appearIn {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(-290px);
    }
}

#guide3 {
    transform: translate(0px, -290px);
}

.guide p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    color: #59301b;
}

.guide img {
    position: absolute;
}

#roti3 {
    width: 80px;
    transform: translate(30px, 340px);
}

#guide3p {
    transform: translate(110px, 332px);
}

#guide3img {
    transform: translate(5px, 311px);
}

.guideL {
    transform: translate(-65px, 287px);
    width: 385px;
}

#roti4 {
    width: 80px;
    transform: translate(30px, 325px);
}

#guide4p {
    transform: translate(110px, 333px);
}

#guide4img {
    transform: translate(5px, 311px);
}

#roti5 {
    width: 80px;
    transform: translate(30px, 325px);
}

#guide5p {
    transform: translate(110px, 332px);
}

#guide5img {
    transform: translate(5px, 311px);
}


.cookies {
    position: relative;
    z-index: 1003;
    /*transform: translateY(-20px);*/
}

.cookies img{
    position: absolute;
    max-width: 20rem;
}

#cookies {
    filter: drop-shadow(0.1rem 0.7rem 1rem rgba(0, 0, 0, 0.05));
}

#lid {
    position: absolute;
    z-index: 1003;
    transition: all 0.4s ease;
}

.tin {
    filter: drop-shadow(0.1rem 0.7rem 1rem rgba(0, 0, 0, 0.5));
}

.bitten img{
    width: 19.2rem;
    height: auto;
    transform: translateY(8px);
}

#tinfront {
    z-index: 1001;
}

#tinback {
    z-index: 2;
}

#bitten0 {
    z-index: 999;
}

#bitten1 {
    z-index: 998;
}

#bitten2 {
    z-index: 997;
}

#bitten3 {
    z-index: 996;
}

#bitten4 {
    z-index: 995;
}

#bitten5 {
    z-index: 994;
}

#bitten6 {
    z-index: 993;
}
