@media (max-width: 37.5rem) {}
@font-face {
    font-family: "handwritten";
    src: url(handwritten.otf);
  }

body {
    margin: 0;
}

.background {
    width: 100vw; /* 100% of viewport width */
    height: 100vh; /* 100% of viewport height */
    background-color: #cde59c;
    background-size: 2.5rem 2.5rem;
    background-image:
    -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.3) 50%,transparent 50%),
    -webkit-linear-gradient(rgba(255, 255, 255, 0.4) 50%,transparent 50%);
    animation-name: changingbg;
    animation: changingbg 60s linear infinite;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    white-space: nowrap;
}

@keyframes changingbg {
    0% {background-color: #cde59c;}
    50% {background-color: #fbb7d3;}
    100% {background-color: #cde59c;}
}

.back {
    position: fixed;
    display: flex;
}

.book {
    position: absolute; /* Allows image to be positioned outside container */
    top: 12%;
    left: 40%; /* Start image off-screen to the right */
    transform: translate(-50%, -50%);
    transform: rotate(-3deg);
}

.book img {
    width: 42rem;
    height:auto;
}

#unclicked {
    position: absolute;
    width: 3.5rem;
    align-items: end;
    top: 1.3rem;
    left: 1.3rem;
    z-index: 1;
}

#clicked {
    position: absolute;
    width: 3.5rem;
    align-items: end;
    top: 1.3rem;
    left: 1.3rem;
    z-index: 2;
}

#clicked:hover {
    transform: translateY(0.27rem)
}

h3 {
    font-family: "handwritten";
}
